@import url(
  http://fonts.googleapis.com/css?family=Ubuntu:300,
  400,
  500,
  300italic
);
@import url(http://fonts.googleapis.com/css?family=Open + Sans);
@import url(
  http://fonts.googleapis.com/css?family=Source + Sans + Pro:200,
  300,
  400,
  600,
  700
);
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 38px;
  font-weight: 200;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 15px;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

.clear {
  clear: both;
}

.menu .navbar-default {
  background: none;
  border-color: transparent;
  margin-bottom: 0;
  text-align: center;
}
.menu .navbar-default .navbar-nav > li > a {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: #666;
  padding: 5px 15px;
}
.menu .navbar-default .navbar-nav > li > a:hover {
  color: #ff0f37;
}
.menu .navbar-nav {
  float: none;
  display: inline-block;
}
.menu .navbar {
  min-height: 0;
}
header {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.96);
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .logo {
  display: inline-block;
  margin-top: 8px;
}
header .social-info {
  margin-bottom: 0;
  padding-top: 8px;
  text-align: right;
}
header .social-info li {
  display: inline-block;
}
header .social-info li a {
  color: #ffffff;
  padding: 3px 8px;
}
header .social-info li a:hover {
  color: #ff0f37;
}

#home .app-img {
  padding-top: 10px;
  height: 327px;
  margin: 0 auto;
}
#home .block > p {
  margin-bottom: 65px;
}
#home .block {
  padding-top: 10px;
}

.carousel-caption {
  left: 0;
  right: 0;
}

#home .block h1 {
  margin-bottom: 18px;
  line-height: 55px;
  color: #262b31;
  font-weight: 300;
}
#home .block p {
  font-size: 20px;
  color: #999;
  font-weight: 300;
}
#home .block .download-btn li {
  display: inline-block;
}
#home .block .download-btn li a {
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 28px 13px;
  font-size: 18px;
}
#home .block .download-btn li a i {
  margin-right: 10px;
  font-size: 20px;
}
#home .block .download-btn li .btn-red {
  border: 1px solid #ff0f37 !important;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  color: #ff0f37 !important;
}

#home .block .download-btn li .btn-red:hover {
  background: #ff001b !important;
  color: #fff !important;
}

#home .block .download-btn li .btn-grey {
  background: #adadad;
  border: 1px solid transparent;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
#home .block .download-btn li .btn-grey:hover {
  background: #868686;
}

#services {
  padding: 30px 0;
  background-color: #f3f3f3;
}

#services .title {
  font-weight: 300;
  text-align: center;
}

#services .service-wrapper {
  padding: 110px 0;
}
#services .block {
  cursor: pointer;
  text-align: center;
}
#services .block:hover .icon i {
  color: #fff;
}
#services .block:hover h3 {
  color: #ff0f37;
}
#services .block:hover .icon {
  border: 1px solid #ffffff;
  background: #ff0f37;
  color: #fff;
  -webkit-box-shadow: 0 0 0px 2px #ff0f37;
  -moz-box-shadow: 0 0 0px 2px #ff0f37;
  box-shadow: 0 0 0px 2px #ff0f37;
}
#services .block .icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid #dedede;
  text-align: center;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
#services .block i {
  font-size: 25px;
  line-height: 90px;
  color: #989898;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
#services .block h3 {
  color: #555;
  font-weight: 300;
}
#services .block p {
  color: #666;
}
#products {
  padding: 50px 0;
}
#products .title {
  font-weight: 300;
  text-align: center;
}

#products .product {
  margin-top: 20px;
}

#products .product-info .col-sm-8,
#products .product-info .col-sm-4 {
  padding: 0;
}

#products .product-btns li {
  display: inline-block;
}
#products .product-btns li a {
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 15px 31px 16px;
  font-size: 14px;
}
#products .download-btn li a i {
  margin-right: 10px;
  font-size: 20px;
  color: #ff0f37 !important;
}

#products .btn-red-o {
  border: 1px solid #ff0f37 !important;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  color: #ff0f37 !important;
}

#products .btn-red-o:hover {
  background: #ff001b !important;
  color: #fff !important;
}

#products .btn-grey {
  background: #adadad;
  border: 1px solid #adadad !important;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
#products .btn-grey:hover {
  background: #868686;
}

.pagination li a {
  color: #ff0f37;
}

.pagination li a:hover {
  color: #fff;
  background-color: #ff0f37;
}

.pagination li.active a {
  background-color: #ff0f37 !important;
  border-color: #ff0f37 !important;
}

#products .price {
  font-size: 18px;
  display: block;
  text-align: right;
  margin-top: 20px;
  color: #ff0f37;
}

#utility {
  background: #f6f6f7;
  padding: 20px 0 30px 0;
}
#utility .block h2 {
  padding-top: 70px;
  color: #444;
}
#utility .block p {
  line-height: 32px;
  color: #7c828b;
  font-size: 16px;
}
#utility-2 {
  padding: 40px 0 10px 0;
}
#utility-2 .block {
  padding-top: 100px;
}
#utility-2 .block h2 {
  color: #666;
}
#utility-2 .block p {
  line-height: 32px;
  color: #9aa0a9;
  font-size: 16px;
}

a {
  color: #ff0f37;
}

a:hover {
  color: #ff001b;
}

#testimonials {
  background-color: #f5f5f5;
}

#testimonials .carousel-inner .item {
  background-size: cover;
}

/*=========================================
	Slider
==========================================*/

#slider {
  padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
}

.carousel-caption {
  text-shadow: 0 0 0 !important;
  padding-bottom: 100px;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 6px 0 20px;
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.carousel-indicators li {
  border: 1px solid #adadad;
  height: 15px;
  margin: 0;
  width: 15px;
}

.carousel-indicators .active {
  height: 15px;
  border: 1px solid #adadad;
  width: 15px;
  background-color: #adadad;
}

#contact .title {
  font-weight: 300;
  text-align: center;
}

#contact-form {
  margin: 0 auto;
}

.mts-contact-section .mts-contact-address p {
  margin-bottom: 25px;
}

.mts-contact-section .mts-contact-address ul li {
  padding-left: 40px;
  margin-bottom: 25px;
  font-size: 14px;
  position: relative;
}

.mts-contact-section .mts-contact-address ul li:last-child {
  margin-bottom: 0;
}

.mts-contact-section .mts-contact-address ul li i {
  position: absolute;
  font-size: 18px;
  left: 0;
  top: 3px;
  padding: 5px;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 50px;
}
.mts-contact-section .mts-contact-form .mts-input-fields {
  margin-bottom: 20px;
}

.mts-contact-section .mts-contact-form .mts-input-fields label {
  display: block;
  font-size: 14px;
  font-family: 'Raleway', cursive;
  font-weight: 400;
  margin-bottom: 10px;
}

.mts-contact-section .mts-contact-form .mts-input-fields input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: 1px solid #aaa !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #111 !important;
}
.mts-contact-details ul li {
  color: #111 !important;
  padding-top: 12px;
}
.mts-contact-details i {
  margin-right: 10px;
  font-size: 22px;
}
.mts-contact-section .mts-contact-form .mts-input-fields textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #aaa !important;
  padding: 15px;
  color: #ffffff !important;
}

.mts-contact-section .mts-contact-form input[type='submit'] {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #ff0f37;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  outline: 0;
  border: 0;
  width: 100%;
}

.mts-contact-section .mts-contact-form input[type='submit']:hover {
  background-color: #ff001b !important;
}

footer {
  background: #f9f9f9;
  border-top: 1px solid #e8e8e8;
  padding: 40px 0 20px;
}
footer .footer-logo {
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
}
footer p {
  color: #6f6f6f;
  margin-top: 10px;
  margin-bottom: 0;
}

imgproduk {
  width: 100px; /* You can set the dimensions to whatever you want */
  height: 100px;
  object-fit: cover;
}
